# Directories
*_html/
_ngo/
_xmsgs/
iseconfig/
isim/
xst/
xlnx_auto_0_xdb/
# All the other temporary/intermediate files which are created
*.bld
*.chk
*.cmd_log
*.cxt
*.gyd
*.jed
*.lfp
*.log
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vhi
*.vm6
*.xml
*.xst
*_build.xml
*_envsettings.html
*_summary.html
*_ngdbuild.xrpt
*_pad.csv
*_xst.xrpt
*.exe
*.wdb
_pace.ucf
default.xreport
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.log
webtalk_pn.xml
xilinxsim.ini
